/* CSS files add styling rules to your content */

* {
  box-sizing: border-box;
}

body {
  font-family: avenir, arial;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #333; /* fallback */
  background: linear-gradient(to bottom right, #333, #337);
}

#side-by-side {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

section#board {
  /* min-width: 1000px; */
  flex: 1;
  margin: 10px;
}

section#myModal {
  /* position: absolute; */
  flex: 1;
  width: 40%;
  /* min-width: 520px;
  float: right;
  top: 0;
  right: 0;
  left: auto; */
  /* height: 100%; */
  margin: 10px;
}

.row {
  padding: 0px;
}

button {
  border-radius: 5px;
  margin: 5px;
  background: #555;
  color: snow;
  font-weight: bold;
}

div button {
  min-width: 50px;
  height: 50px;
}

.openModal {
  font-size: large;
}

#input {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background: lightblue;
}

#clear-board,
#fill-board,
#check-board {
  padding: 10px;
}

#clear-board {
  background: blue;
}

#fill-board {
  background: darkgreen;
}

#check-board {
  background: maroon;
}

.notes-side {
  border-radius: 3px;
  background: #eee;
  width: 60px;
  height: 50px;
}

hr {
  width: 590px;
  text-align: left;
  margin-left: 0;
}

.notes-bottom {
  border-radius: 3px;
  background: #eee;
  width: 168px;
  height: 50px;
  font-size: large;
}

/* Modal stuff starts: */

/* The Modal (background) */
.modal {
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

/* The Close Button */
.closeModal {
  color: #aaaaaa;
  background: red;
  width: 40px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  background: lightblue;
  font-size: large;
  text-align: center;
}

/* Modal stuff ends */

button:hover:not([disabled]),
input:hover {
  box-shadow: 0px 15px 20px rgba(1, 1, 1, 0.4);
  transform: translateY(-1px);
}

button:active {
  background: yellow !important;
  color: black !important;
  box-shadow: 0px 15px 20px rgba(1, 1, 1, 0.4);
  transform: translateY(-1px);
}

#clear-board:hover,
#clear-board:active {
  background: lightblue !important;
  color: black !important;
}

#fill-board:hover,
#fill-board:active {
  background: lightgreen !important;
  color: black !important;
}

#check-board:hover,
#check-board:active {
  background: red !important;
  color: black !important;
}
