/* CSS files add styling rules to your content */

body {
  font-family: avenir, arial;
  margin: 50px;
  background: #333;
}

.row {
  padding: 0px;
}

button {
  border-radius: 5px;
  margin: 5px;
  background: #555;
  color: snow;
  font-weight: bold;
}

#input {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background: lightblue;
}

#clear-board,
#fill-board,
#check-board {
  padding: 10px;
}

#clear-board {
  background: blue;
}

#fill-board {
  background: darkgreen;
}

#check-board {
  background: maroon;
}

input[placeholder~="Notes:"] {
  border-radius: 3px;
  background: #eee;
}